## ch3-exercises_pa09.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [ ]:
# [Q1] Code  

a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

print("shirt 가 출력된다.")

shirt
shirt 가 출력된다.

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [ ]:
# [Q2] Code

result = 0
i = 1
while i <= 1000:
    if i % 3 == 0: # 3으로 나누어 떨어지는 수는 3의 배수
        result += i
    i += 1

print(result) # 166833 출력

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [ ]:
# [Q3] Code

i = 0
while True:
    i += 1 # while문 수행 시 1씩 증가
    if i > 5: break     # i 값이 5보다 크면 while문을 벗어난다.
    print ('*' * i)     # i 값 개수만큼 *를 출력한다.

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [ ]:
# [Q4] Code

Num =[1] 
result = [Num + 1 for Num in range(100)]

for i in result:
  print(i);

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
# [Q5] Code

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score   # A학급의 점수를 모두 더한다.

average = total / len(A) # 평균을 구하기 위해 총 점수를 총 학생수로 나눈다.
print(average) # 평균 79.0이 출력된다.

79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [ ]:
# [Q6] Code

numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)
[2, 6, 10]

[2, 6, 10]

[2, 6, 10]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [ ]:
# [Q7] Code-1
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

print("\n평균 : " + str(sum(scores, 0.0) / len(scores)))

평균 : 80.25

In [ ]:
# [Q7] Code-2

subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

a = 0
sum = 0
while a < len(scores):
  sum += scores[a]
  a += 1

print(sum)
print(len(scores))

print("\n평균 : " + str(sum / len(scores)))

321
4

평균 : 80.25

In [ ]:
# [Q7] Code-3
# range() 사용
scores = [91, 67, 88, 75]

def average(scores):
  num = 0
  for i in range(len(scores)):
    num = num + scores[i]
  return (num)/len(scores)

print("평균값 : {}".format(average(scores)));

평균값 : 80.25

In [1]:
# [Q7] code-4
# 성적을 입력하여 평균 구하기

def ok(py, en, ma, ph):
    calc = py+en+ma+ph
    mean = calc /4
    result = round(mean,2)

    print(" ")
    print("************************")
    print("# 입력과목 성적")
    print(" ")
    print(" - 파이썬 성적 : ", py)
    print(" - 영어 성적 : ", en)
    print(" - 수학 성적 : ", ma)
    print(" - 물리 성적 : ", ph)
    print("************************")
    print(" ")

    print("************************")
    print("# 결과")
    print(" - 총점 : ", calc)
    print(" - 평균 : ", result)
    print("************************")

def no(py, en, ma, ph):
    print(" ")
    print("************************")
    print("# 입력과목 성적")
    print(" ")
    print(" - 파이썬 성적 : ", py)
    print(" - 영어 성적 : ", en)
    print(" - 수학 성적 : ", ma)
    print(" - 물리 성적 : ", ph)
    print("************************")
    print(" ")
    print("# 입력 점수 오류 --> 확인 후 재입력")


while True:
    try:
        py = input("파이썬 성적을 입력하세요 : ")
        en = input("영어 성적을 입력하세요 : ")
        ma = input("수학 성적을 입력하세요 : ")
        ph = input("물리 성적을 입력하세요 : ")
        result_py = int(py)
        result_en = int(en)
        result_ma = int(ma)
        result_ph = int(ph)


        if (0 < result_py <=100) and ( 0< result_en <=100) and (0< result_ma <=100) and (0< result_ph <=100):
            ok(result_py, result_en, result_ma, result_ph)
            break

        else: # 범위 밖의 경우 오류 출력
            no(py, en, ma, ph)
            
    except ValueError: #문자가 입력된 경우 오류 출력
        no(py, en, ma, ph)

파이썬 성적을 입력하세요 : 91
영어 성적을 입력하세요 : 67
수학 성적을 입력하세요 : 88
물리 성적을 입력하세요 : 75

************************
# 입력과목 성적

 - 파이썬 성적 :  91
 - 영어 성적 :  67
 - 수학 성적 :  88
 - 물리 성적 :  75
************************

************************
# 결과
 - 총점 :  321
 - 평균 :  80.25
************************

In [4]:
# [Q7] code-5
# enumerate() 사용

sum = 0
subjects = subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
for subject,score in enumerate(scores):

    sum += scores[subject]
    print(subjects[subject],score)
    
average = (sum/len(scores))

print("평균 점수는 %f 입니다." %average)

파이썬 91
영어 67
수학 88
물리 75
평균 점수는 80.250000 입니다.

In [5]:
# [Q7] code-6
# zip 활용

subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

average = 0
sum = 0
for subject, score in zip(subjects, scores):
  sum += score
  print(subject, score)

print("평균점수는 {}".format(sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균점수는 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. **github repo의 ch3 폴더에 연습문제 풀이 결과 노트를 올리시오.**
        - **제출노트: ch3-exercises-id.ipynb**