<a href="https://colab.research.google.com/github/ANA0517/PA09/blob/main/Ch04/ch4_exercises_pa09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch4_exercises_pa09.ipynb

## Q1.
> 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [7]:
# [Q1] Code  
def is_odd(number):
  if number % 2 == 1:   # 2로 나누었을 때 나머지가 1이면 홀수
    return True
  else:
    return False

is_odd(1)

i = 0
while i<10:
  i = i+1
  print(i, is_odd(i))

1 True
2 False
3 True
4 False
5 True
6 False
7 True
8 False
9 True
10 False

## Q2.
> 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. 
- (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)
- ※ 평균 값을 구할 때 len 함수를 사용해 보자.

In [25]:
# [Q2] Code

def avg_numbers(*args):
  result = 0
  for i in args:
    result += int(i)
  return result / len(args)

print(avg_numbers(1))
print(avg_numbers(1, 2))
print(avg_numbers(1,2,3,4,5))

1.0
1.5
3.0

## Q3.
> 다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

```
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

```
---
> 이 프로그램을 수행해 보자.

>> 첫번째 숫자를 입력하세요:3  
>> 두번째 숫자를 입력하세요:6
- 두 수의 합은 36 입니다
- 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.  
이 프로그램의 오류를 수정해 보자.

In [28]:
# [Q3] Code

input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")
 
total = int(input1) + int(input2)  
print("두 수의 합은 %s 입니다" % total)

# 입력은 항상 문자열로 인식되기 때문에 int를 붙여줌으로서 숫자형으로 바꿔야 한다.

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

6## Q4.
> 다음 중 출력 결과가 다른 것 한 개를 골라 보자.

```
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))
```

In [33]:
# [Q4] Code

print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

print('print("you", "need", "python")이 다르게 나온다.')

print("콤마가 있는 경우 공백이 삽입되어 더해지기 때문이다.")

youneedpython
youneedpython
you need python
youneedpython
print("you", "need", "python")이 다르게 나온다.
콤마가 있는 경우 공백이 삽입되어 더해지기 때문이다.

## Q5.
> 다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

```
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
print(f2.read())

```
>> 이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다.

>> 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [38]:
# [Q5] Code
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [40]:
# with 구문은 close를 표시할 필요가 없다.
with open("test.txt", 'w') as f1:
    f1.write("Life is too short ")
with open("test.txt", 'r') as f2:
    print(f2.read())

Life is too short

## Q6.
> 사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. 
- (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [49]:
# [Q6] Code

user_input = input(" 내용 입력:")
text = open('test.txt', 'a')
text.write(user_input)
text.write("\n")
text.close()

 내용 입력:1234

In [53]:
f = open("test.txt", 'r')
data = f.read()
print(data)
f.close()

# 위의 코드에서 입력된 내용들이 저장되면서, 출력 된다.

Life is too short 내용을 입력하세요
1,2,3,4
1234

## Q7.
> 다음과 같은 내용을 지닌 파일 foo1.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

>> Life is too short  
>> you need java

- ※ replace 함수를 사용해 보자.

In [56]:
# [Q7] Code-1

f = open("foo1.txt", 'r')
data = f.read()
print(data)
f.close()

# 우선 foo1.txt에 Life is too short, you need java가 있는 것을 확인한다.

Life is too short
you need java

In [61]:
data = data.replace('java', 'python')

f = open('foo1.txt', 'w')
f.write(data)
print(data)
f.close()

# java가 python으로 변경된 것을 확인 할 수 있다.

Life is too short
you need python